@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('//fonts.googleapis.com/css?family=Oswald');

// color
$white: #FFF
$black: #000
$ex-light-gray: #f0f0f0
$green: #3ebc2b
$dark-green: #00a199
$yellow: #ffd309
$orange: #ff8502

// font
$font-family-base: 'Noto Sans JP', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', "メイリオ", "Meiryo",'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$web-font: 'Oswald', sans-serif

// grid
$grid-gutter-width: 16px

$screen-md: 992px